TILESHEET KET_IMAGE sprites.png

TILE_NORMAL KET_RECT {
	14L, 195L,
	16L, 16L
}

TILE_PRESSED KET_RECT {
	31L, 195L,
	16L, 16L
}

TILE_FLAGGED KET_RECT {
	48L, 195L,
	16L, 16L
}

TILE_BOMB KET_RECT {
	99L, 195L,
	16L, 16L
}

TILE_BOMB_RED KET_RECT {
	116L, 195L,
	16L, 16L
}


TILE_1 KET_RECT {
	14L, 212L,
	16L, 16L
}

TILE_2 KET_RECT {
	31L, 212L,
	16L, 16L
}

TILE_3 KET_RECT {
	48L, 212L,
	16L, 16L
}

TILE_4 KET_RECT {
	65L, 212L,
	16L, 16L
}

TILE_5 KET_RECT {
	82L, 212L,
	16L, 16L
}

TILE_6 KET_RECT {
	99L, 212L,
	16L, 16L
}

TILE_7 KET_RECT {
	116L, 212L,
	16L, 16L
}

TILE_8 KET_RECT {
	133L, 212L,
	16L, 16L
}



SMILEY_DEFAULT KET_RECT {
	14L, 170L,
	24L, 24L
}

SMILEY_PRESSED KET_RECT {
	39L, 170L,
	24L, 24L
}

SMILEY_WIN KET_RECT {
	89L, 170L,
	24L, 24L
}

SMILEY_LOSE KET_RECT {
	114L, 170L,
	24L, 24L
}

DIGIT_1 KET_RECT {
	14L, 146L,
	13L, 23L
}

DIGIT_2 KET_RECT {
	28L, 146L,
	13L, 23L
}

DIGIT_3 KET_RECT {
	42L, 146L,
	13L, 23L
}

DIGIT_4 KET_RECT {
	56L, 146L,
	13L, 23L
}

DIGIT_5 KET_RECT {
	70L, 146L,
	13L, 23L
}

DIGIT_6 KET_RECT {
	84L, 146L,
	13L, 23L
}

DIGIT_7 KET_RECT {
	98L, 146L,
	13L, 23L
}

DIGIT_8 KET_RECT {
	112L, 146L,
	13L, 23L
}

DIGIT_9 KET_RECT {
	126L, 146L,
	13L, 23L
}

DIGIT_0 KET_RECT {
	140L, 146L,
	13L, 23L
}

DIGIT_MINUS KET_RECT {
	154L, 146L,
	13L, 23L
}

DIGIT_EMPTY KET_RECT {
	168L, 146L,
	13L, 23L
}

KET_MENU MENU {
	POPUP "&File"
	{
		MENUITEM "E&xit", 200
	}
	POPUP "&Difficulty"
	{
		MENUITEM "&Easy", 210
		MENUITEM "&Medium", 211, CHECKED
		MENUITEM "&Hard", 212
	}
}