TILESHEET KET_IMAGE sprites.png

TILE_NORMAL KET_RECT {
	14L, 195L,
	16L, 16L
}

TILE_PRESSED KET_RECT {
	31L, 195L,
	16L, 16L
}

TILE_FLAGGED KET_RECT {
	48L, 195L,
	16L, 16L
}

TILE_BOMB KET_RECT {
	99L, 195L,
	16L, 16L
}

TILE_BOMB_RED KET_RECT {
	116L, 195L,
	16L, 16L
}


TILE_1 KET_RECT {
	14L, 212L,
	16L, 16L
}

TILE_2 KET_RECT {
	31L, 212L,
	16L, 16L
}

TILE_3 KET_RECT {
	48L, 212L,
	16L, 16L
}

TILE_4 KET_RECT {
	65L, 212L,
	16L, 16L
}

TILE_5 KET_RECT {
	82L, 212L,
	16L, 16L
}

TILE_6 KET_RECT {
	99L, 212L,
	16L, 16L
}

TILE_7 KET_RECT {
	116L, 212L,
	16L, 16L
}

TILE_8 KET_RECT {
	133L, 212L,
	16L, 16L
}