#include <windows.h>

1 ICON "icon_lg.ico"
2 ICON "icon_sm.ico"

TILESHEET KET_IMAGE "sprites.png"

TILE_NORMAL KET_RECT {
	0L, 39L,
	16L, 16L
}

TILE_PRESSED KET_RECT {
	0L, 23L,
	16L, 16L
}

TILE_FLAGGED KET_RECT {
	16L, 39L,
	16L, 16L
}

TILE_BOMB KET_RECT {
	64L, 39L,
	16L, 16L
}

TILE_BOMB_RED KET_RECT {
	32L, 39L,
	16L, 16L
}


TILE_1 KET_RECT {
	16L, 23L,
	16L, 16L
}

TILE_2 KET_RECT {
	32L, 23L,
	16L, 16L
}

TILE_3 KET_RECT {
	48L, 23L,
	16L, 16L
}

TILE_4 KET_RECT {
	64L, 23L,
	16L, 16L
}

TILE_5 KET_RECT {
	80L, 23L,
	16L, 16L
}

TILE_6 KET_RECT {
	96L, 23L,
	16L, 16L
}

TILE_7 KET_RECT {
	112L, 23L,
	16L, 16L
}

TILE_8 KET_RECT {
	128L, 23L,
	16L, 16L
}



SMILEY_DEFAULT KET_RECT {
	1L, 56L,
	24L, 24L
}

SMILEY_PRESSED KET_RECT {
	27L, 56L,
	24L, 24L
}

SMILEY_WIN KET_RECT {
	105L, 56L,
	24L, 24L
}

SMILEY_LOSE KET_RECT {
	79L, 56L,
	24L, 24L
}

DIGIT_0 KET_RECT {
	0L, 0L,
	13L, 23L
}

DIGIT_1 KET_RECT {
	13L, 0L,
	13L, 23L
}

DIGIT_2 KET_RECT {
	26L, 0L,
	13L, 23L
}

DIGIT_3 KET_RECT {
	39L, 0L,
	13L, 23L
}

DIGIT_4 KET_RECT {
	52L, 0L,
	13L, 23L
}

DIGIT_5 KET_RECT {
	65L, 0L,
	13L, 23L
}

DIGIT_6 KET_RECT {
	78L, 0L,
	13L, 23L
}

DIGIT_7 KET_RECT {
	91L, 0L,
	13L, 23L
}

DIGIT_8 KET_RECT {
	104L, 0L,
	13L, 23L
}

DIGIT_9 KET_RECT {
	117L, 0L,
	13L, 23L
}

DIGIT_MINUS KET_RECT {
	130L, 0L,
	13L, 23L
}

BORDER_UL KET_RECT {
	0L, 81L,
	10L, 10L
}

BORDER_UR KET_RECT {
	10L, 81L,
	10L, 10L
}

BORDER_DL KET_RECT {
	20L, 81L,
	10L, 10L
}

BORDER_DR KET_RECT {
	30L, 81L,
	10L, 10L
}

BORDER_UD KET_RECT {
	40L, 81L,
	10L, 10L
}

BORDER_URD KET_RECT {
	56L, 81L,
	10L, 10L
}

BORDER_ULD KET_RECT {
	66L, 81L,
	10L, 10L
}

BORDER_LR KET_RECT {
	134L, 39L,
	10L, 32L
}

KET_MENU MENU {
	POPUP "&File"
	{
		MENUITEM "E&xit", 200
	}
	POPUP "&Difficulty"
	{
		MENUITEM "&Easy", 210
		MENUITEM "&Medium", 211, CHECKED
		MENUITEM "&Hard", 212
		MENUITEM "&Custom", 213
	}
}

KET_CUSTOM_DIFFICULTY DIALOGEX 10, 10, 96, 70
CAPTION "Custom Difficulty"
STYLE WS_POPUP | WS_BORDER | WS_SYSMENU
{
    LTEXT "Width", 11, 4, 4, 24, 12
    EDITTEXT 12, 28, 4, 64, 12
	LTEXT "Height", 13, 4, 20, 24, 12
    EDITTEXT 14, 28, 20, 64, 12
	LTEXT "Mines", 15, 4, 36, 24, 12
    EDITTEXT 16, 28, 36, 64, 12
	PUSHBUTTON "&Ok", IDOK, 4, 52, 20, 12
}